
$enable-responsive-font-sizes: true;
$black: #212529;
$gray-900: #343A40;
$gray-800: #495057;
$gray-600: #6C757D;
$gray-500: #ADB5BD;
$gray-400: #CED4DA;
$gray-300: #DEE2E6;
$gray-200: #E9ECEF;
$gray-100: #F8F9FA;
$white: #FAF9F9;
$blue: #00A6FB;
$indigo: #B8B8FF;
$purple: #AFABFF;
$pink: #FF87AB;
$red: #FB6376;
$orange: #FF9E00;
$yellow: #FFC300;
$green: #52B788;
$teal: #2A9D8F;
$cyan: #56CFE1;
$table-cell-padding: 0.9rem;
$input-btn-padding-y: 0.6rem;